---
title: "Getting Feedback: Help me and I will help you"
kind: article
author: Stephane Wirtel
created_at: 2012-02-08
published: true
excerpt: For my followers, I just published a Survey for you.
---

%p I just created this #{link_to('Survey', 'https://docs.google.com/spreadsheet/viewform?formkey=dGx4eENSMnotUG1SaElUZUxFcFctSUE6MQ')} to know why you follow me.

