---
title: "Getting Feedback: The Result"
kind: article
author: Stephane Wirtel
created_at: 2012-02-20
published: true
excerpt: I published a Survey for my followers (@matrixise) and here is the result
---

%p I created this #{link_to('Survey', 'https://docs.google.com/spreadsheet/viewform?formkey=dGx4eENSMnotUG1SaElUZUxFcFctSUE6MQ')} to know why you follow me.

%p And now I have the answer

%table{:class => 'table table-bordered table-striped'}
  %thead
    %tr
      %th Subject
      %th Percent
  %tbody
    %tr
      %td OpenERP
      %td 76%
    %tr
      %td Me ? ;-)
      %td 47%
    %tr
      %td Python
      %td 47%
    %tr
      %td PostgreSQL
      %td 35%
    %tr
      %td Linux
      %td 29%
    %tr
      %td Ruby
      %td 24%
    %tr 
      %td Rails
      %td 24%
    %tr
      %td Flask
      %td 0%

<img src="http://chart.apis.google.com/chart?chs=420x190&cht=p&chco=7777CC|76A4FB|3399CC|3366CC&chd=s0:uPHdAVSd&chdl=OpenERP|Ruby|Rails|Python|Flask|PostgreSQL|Linux|Me+%3F+%3B-)&chl=OpenERP|Ruby|Rails|Python|Flask|PostgreSQL|Linux|Me+%3F+%3B-)" width="420" height="190" alt="" />

%p If I remove the result for my humble person, I think you are interested by OpenERP, Python, PostgreSQL, ...

